.control-table {
	padding: 0;
	margin: auto;
	width: 90%;
}
 
.control-table button {
	border:none;
}

.control-table button:focus {
	outline: 0;
}

.control-table ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.control-table-months {
	margin: 0;
	padding: 0;
	text-align: center;
}

.control-table-months i {
	font-size: calc(3vw + 3vh);
	margin: 0 calc(1vw + 1vh);
	margin-bottom: -1.3vw;
}

.control-table-months i,
.control-table-days i {
	padding: 0;
	cursor: pointer;
}

.control-table-months i:hover,
.control-table-days i:hover {
	/*background-color: #ddd;*/
	/*color: #C69052;*/
	color: #13ABCE;
}

.horizontal-reverse {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;
}

.control-table-months * {
	display:inline-block;
}

.control-table-months h3 {
	font-size: calc(6px + 2.5vw);
	font-weight: bold;
}

.control-table-days,
.control-table-days--body {
	display:flex;
	justify-content: center;
}

.control-table-days > ul > li {
	display: inline-block;
	float: left;
}

.control-table-days--body ul > li,
.control-table-days--header li {
	width: 9.8vw;
}

.control-table-days--body ul > li  { 
	height: calc(2.3vw + 2.6vh);
	overflow: hidden;
}

.control-table-days--header li {
	height: calc(2.2vw + 3.2vh);
	overflow: hidden;
	padding: calc(0.7vw + 0.7vh) 0;
	margin: 0;
	text-align:center;
}

.control-table-days--header li,
.control-table-days--body ul {
	display: inline-block;
	float:left; 
}

.control-table-days--header p {
	font-size: 34pt;
	/*text-align: center;*/
	margin: 0;
	margin-top: -4px;
	margin-bottom: -16px;
	padding: 0;
}

.control-table-days--header li {
	font-size: calc(4px + 0.9vw);
	padding-left: 0;
}

.control-table-days--body {
	overflow-y:auto;
	max-height:70vh;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}

.control-table-days--body [id^="control-table--weekday"] li > * {
	width: 8.4vw;
	height: 2.7vw;
	font-size: 15px;
}

.control-table-timestamp {
	padding-top: calc(0.5vw + 0.5vh);
	font-size: calc(3px + 0.63vw);
}

.control-table-colapsed {
	border: none !important;
	background-color: #eee;
	height: calc(1.3vw + 1.5vh) !important;
}


.control-table-weeks #control-table-week-tabs {
	display:flex;
	justify-content: center;
}

.control-table-weeks #control-table-week-tabs li {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: calc(0.4vw + 0.5vh) calc(1vw + 0.5vh);
}

.control-table-weeks #control-table-week-tabs li:hover,
.control-table-weeks #control-table-week-tabs li:focus {
	cursor: pointer;
}

.control-table-weeks #control-table-week-tabs li.active,
.control-table-weeks #control-table-week-tabs li:hover,
.control-table-weeks #control-table-week-tabs li:focus {
	background-color: #13ABCE;
	color: white;
}

.control-table-days--body--timestamps li {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.control-table-days--body--timestamps li {
	border-top: 1px solid #ddd ;
    border-bottom: 1px solid #ddd ;
    border-right: 1px solid #ddd ;
}

.control-table-days--body ul li {
	display:flex;
	align-items: center;
	justify-content: center;
}

.control-table-days--body ul:last-child li {
	border-right: none;
}

ul[id^="control-table--weekday"] li {
	border: 1px solid #ddd;
}

.control-table-days--header--blank {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.control-table-days--header--days li {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.control-table-days--header li:last-child {
	border-right: none;
}

.control-table-toggle-colapse {
	font-size: calc(1vw + 0.8vh) !important;
	position: relative;
	left: 2.8vw;
}

.fancy-scrollbar::-webkit-scrollbar-track
{
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar
{
	width: .4em;
	background-color: transparent;
}

.fancy-scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: rgba(0,0,0,.2);
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
}

.rotate-right {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}